<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="Web app for weather">
        <meta name="author" content="Eran Ezer">
        <!--<meta http-equiv="refresh" content="10"> -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta property="og:description"
              content="Get the Israel weather forecast. Access hourly, 10 day and 15 day forecasts along with up to the minute reports and videos from AccuWeather.com">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <style>
            #weather-box{
                background-color: whitesmoke;
                border-radius: 5px;
                margin: 10px;
                padding: 20px 5px;

            }
        </style>
        {% block head %}{% endblock head %}


        {% if title %}
            <title> Weather app - {{title}}</title>
        {% else %}
            <title> Weather app </title>
        {% endif %}

    </head>
    <body style="text-align:center">
        {% block body %}{% endblock body %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </body>
</html>